<% title "New Record" %>

<%= form_for @record do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :the_type %><br />
    <%= f.text_field :the_type %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", records_path %></p>
